@charset "UTF-8";

body {margin:0!important;padding:0!important;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
 * {
   font-family: 'Noto Sans KR', sans-serif !important;
   box-sizing: border-box !important;
   font-weight: 500 !important;
}
.sandlim{
padding : 0 300px 100px 300px;
}

th {
   border-top: 1px solid #272727 !important;
}
/* th, td{ */
/* padding : 15px !important;} */


.header-container {
   padding: 50px 0;
}
ul.nav-right {
   text-align: right !important;
}

.nav-right {
   margin: auto 0 auto auto;
}

.nav-link, .navbar-brand {
   color: #272727 !important;
}

#subNavMenu .nav-link {
   color: #f9f5f2 !important;
}

#subNavMenu .nav-link:hover {
   color: #f9f5f2 !important;
}
 .form-control {line-height: 1.2;
 }
 .form-control:focus {
 background-color: #f9f5f2;
    color: #272727;
 }


/*----------------------여기까지 기준--------------------------------------------*/

#footer {width:100%; text-align: center; margin:50px auto;}
tr:last-child {border-bottom:1px solid #eee;}
.input-group{text-align:center;}
.input-group-prepend {text-align:center!important;}
.input-group-text {width:150px;justify-content: flex-end; }
/* 헤더에 있던 스타일  */
  td.tdCenter {text-align:center!important;} 
  .input-group {margin-bottom:0px!important;}
  .innm {background-color:#f9f5f2!important;}
  .btn:not(.btn:first-child){background-color : #f9f5f2; color : #272727;}
  .btn:not(.btn:last-child){background-color : #272727; color : #f9f5f2;}
  .container-fluid{width: 600px;}
 .input-group-text { 
 		width: 100px;
        justify-content: flex-start;
    }

/* 장바구니 */
.in_hidden{outline:none; border:none;}

/* 영양정보 */
.content{
   outline:none; border:none;
}

/* 페이징 버튼 */
.datediv{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    }
  
.pagebtn{
	text-aline: center;
	width: 30px;
    height: 30px;
/*     margin: 15px; */
	background-color: #f9f5f2; 
	border: none; 
	color:#272727;
	padding:0;
	border-radius: 0;
	}
	
.pagebtn:hover{
	background-color : #272727!important;
	color : #f9f5f2!important;
	font-family: bolder!important;
}
.page-num-list {
	margin: auto;
	text-align: center;
}

/* adminOd 페이지 */
#odtable{
	margin-top : 40px;
}
.table td, .table th{
text-align: center;
color: #272727;
}
.table th{
font-weight: bolder;
}

/* 상세보기 모달  */
.modal fade{display: none;}

/* selectMdList.jsp */

h1{
	color : #fff;
	padding : 20px;}

.btn-success {margin-right : 20px;
background-color: #f9f5f2; border: none; color:#272727;
}

.bod{
	width: 1100px;
	margin :0 auto; 
}

/* 메인버튼	 */
.but1{
	    border: none;
	    width: 100px;
        height: 30px;
        margin: 15px;
        background-color: #f9f5f2;
        color: #272727;
        font-family: border;
		}
.but1:active, #but1:focus, .but1:not{ outline: none !important; }
.but1:hover{
	  	background-color : #272727;
		color : #f9f5f2;
	    font-family: bold;
}


/* 서브버튼 */
.btn{
	text-aline: center;
	width: 100px;
    height: 30px;
	background-color: #272727 !important; 
	border: none; 
	color:#f9f5f2 !important;
	padding:0;
	border-radius: 0;
	}
	
.btn:hover{
	background-color : #f9f5f2!important;
	color : #272727!important;
	font-family: bold !important;
}

.form-inline{
		    display: flex;
		    flex-flow: row wrap;
		    align-items: center;
		    flex-wrap: nowrap;
		    justify-content: flex-end;
		    flex-direction: row;
		   	padding: 30px 0px; 
}

#myModal{
	display : none;  
 	z-index : 9999;  
 	background-color: rgba(0,0,0,.3); 
	left:0;
	top: 0;
	width:100%;
	height:100%;
 	position: fixed; 
   	top: 50%; 
   	left: 50%; 
   	transform: translate(-50%, -50%); 
}
#listModal{
	display : none;  
 	z-index : 9999;  
 	background-color: rgba(0,0,0,.3); 
	left:0;
	top: 0;
	width:100%;
	height:100%;
 	position: fixed; 
   	top: 50%; 
   	left: 50%; 
   	transform: translate(-50%, -50%); 
}
#payModal{
	display : none;  
 	z-index : 9999;  
 	background-color: rgba(0,0,0,.3); 
	left:0;
	top: 0;
	width:100%;
	height:100%;
 	position: fixed; 
   	top: 50%; 
   	left: 50%; 
   	transform: translate(-50%, -50%); 
}

#review{
	display : none;  
 	z-index : 9999;  
 	background-color: rgba(0,0,0,.3); 
	left:0;
	top: 0;
	width:100%;
	height:100%;
 	position: fixed; 
   	top: 50%; 
   	left: 50%; 
   	transform: translate(-50%, -50%); 
}

.modal-content{
	z-index : 9999;
  	width: 400px;
    top: 50%;
    position: fixed;
	background-color:#fff;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.modal-body::-webkit-scrollbar {
    display: none; 
}
.labelp{
	font-size: medium;
	font-weight: bold;
	display: block;
    margin-bottom: 1px;
}
.inputs{
	margin-bottom: 3px;
}
.btn-success{
 	width : 60px;
}
 
/*  updateMd의 이미지 미리보기 사이즈 조절  */
	#img_input{
	width: 150px;
    height: 150px;
	}
	
	#image_container {
    width: 150px;
    height: 150px;
    display : none;
    float: right;
}

	#image_container img {
    width: 100%; 
    height: 100%;
}
	#imgchange, #img2_input{
		display : none;
	}

 	#firstimg{ 
 		display: flex; 
   		flex-wrap: wrap; 
   		margin-left: 30px; 
 	}

/*  updateMd의 이미지 미리보기 사이즈 조절  끝 */

/* 네비바  */
#subNav #stNav {
	z-index: 9998;
}
.navbar{
	width: 100%;
	height:80px;
	background-color: #f9f5f2 !important;
}
.meme {
	padding: 0 100px;
}
.navuser {
	    align-items: baseline;
	    margin:0 1rem !important;
}

.logOut {
	    padding-left: 25px !important;
}
.usernim{
	    padding-right:8px;
	    color: #272727 !important;
}
#name {
	color: #c79c79;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: #c79c79;
	display: block;
}
.nav-item {
	list-style: none;
/* 	padding: 0 8px; */
	display: contents;
}

.navbar-nav {
	margin: 0;
	justify-content: center;
	flex-grow: 1;
	font-size: large;
}

.navbar-nav li.nav-item {
	flex-grow: 1;
}
.navmenu{
	margin:0 1rem !important;
}

ul.navbar-nav.navlogo {
	width: 200px !important;
	text-align: left;
}

.nav-link2 {
	display: contents;
}

.nav-link {
	padding: .5rem .5rem;
	display: contents;
}

/* 마우스 호버 시에 스타일 변경 */
.nav-link:hover {
	color:#c79c79  !important;
    text-decoration: underline !important;
}
.nav-link, .navbar-brand{color:#272727 !important;}
.log2:hover{color:#c79c79 !important; text-decoration: underline !important;}

/* 1120px이하일때 보여지는 네브바  */
@media only screen and (max-width: 1140px) {
	#stNav {display: none;}
	#subNav {visibility: visible;}
	.dropdown-menu.show {
		transform: translate3d(0px, -1px, 0px);
		width: 100%;
		border-top: none;
		text-align: center;
	}

	#subNav ul, li {
    list-style: none;
}
    #subNav {
    vertical-align: baseline;
        background-color: #f9f5f2;
        height: 80px !important;
        left: 0;
        position: relative;
        top: 0;
        display: inline-flex;
        flex-wrap: nowrap;
        width: 100%;
    }
 .nav-link {
	padding: 10px 15px;
}
.navbar{
    justify-content: flex-end !important;
	flex-grow: 0;
    }
.navbar-nav li.nav-item {
	flex-grow: 0;
}
.navbar-nav {
	margin: 0;
	flex-direction: row !important;
	justify-content: flex-end;
}
.nav-item {
	list-style: none;
/* 	text-align: center; */
	margin-bottom: 10px;
}

.nav-link {
    display: flex !important;
    justify-content: flex-end;
}
.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
}
.dropdown-item {
    color: #272727;
}
.dropdown-item:focus {
    background-color: #f9f5f2;
    color: #272727;
}
.dropdown-item:hover {
    background-color: #f9f5f2;
}
.dropdown-toggle {
	border: none;
/* 	display: contents; */
}
.dropdown-toggle:focus {
	   outline: none;
}
.dropdown-toggle::after {
	display: none !important;
}

#subNav .navbar-brand {
	margin-right: auto;
}
.navbar-nav .nav-item:last-child {
		margin-bottom: 0;
	}
}

/* 1121px초과일 때 보여지는 네브바  */
@media only screen and (min-width: 1141px) {
	#stNav {visibility: visible;
	}
	#subNav {display:none;}
}